﻿@model IEnumerable<TariffCalcWeb.Models.ProductPricingDto>
 
<table class="table table-striped table-bordered table-hover" id="oDetail" style="width:90%">
    <thead class="bordered-green">
        <tr role="row">
            <th style="width:50px">Product Name</th>
            <th style="width:120px">Annual price (in Euros)</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnualCost) €
                </td>
            </tr>
        }
    </tbody>
</table>
