﻿@{
    ViewBag.Title = "Home Page - Verivox tariff calculator";
}

<div class="jumbotron">
    <img src="~/Images/Verivox-logo-2016.svg.png" style="width:40%" />
    <h2>Tariff calculator</h2>
    <p class="lead">This is a small demo with restful API. This way you can use it with web, mobile, desktop, win services, SOA, another api's, 3rd party companies, etc...</p>
</div>



<div class="row">

    <div class="col-md-4">
        <h2>Calculator</h2>
        <p>Please fill out the approximate consumption field kWh per year and press calculate</p>
        <p>
            <input id="txtConsumption" name="txtConsumption" />
            <input id="btnCalculate" type="submit" value="Calculate prices &raquo;" class="btn btn-default" />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="well bg-themeprimary bordered-right bordered-success">
            <h5 class="block">Pricing information</h5>
            <p>
                <div id="partialPricingInfo" style="width:100%;border: 1px solid black; padding: 10px; margin-bottom: 10px;">
                </div>
            </p>
        </div>
    </div>
</div>
 

<script>
    $(document).ready(function () {

        $('#btnCalculate').click(function () {
            var consume = $('#txtConsumption').val();
            if (consume == '' || consume == '0') {
                $("#partialPricingInfo").html("<strong>Value cannot be blank or null.</strong>");
            }
            else if (consume <= 0)
            {
                $("#partialPricingInfo").html("<strong>Value must be greater than zero.</strong>");
            }
            else if (isNaN(consume))
            {
                $("#partialPricingInfo").html("<strong>Only numbers are allowed.</strong>");
            }
            else {
                $("#partialPricingInfo").html("<strong>Please wait, calculating...</strong>");
                $("#partialPricingInfo").load('@Url.Content("/Home/CalculateTariff?consumption=")' + consume);
            }
        });

    });
</script>